body {
    margin: 0;
    padding: 0;
  }
  
  #map-container {
    position: relative;
  }
  
  #map {
    height: 100vh;
    z-index: 0; /* La carte en arrière-plan */
  }
  
  .leaflet-control-zoom {
    display: none; /* Masquer les boutons de zoom */
  }
  
  .custom-marker-container {
    position: relative;
    z-index: 1; /* Les marqueurs au premier plan */
  }
  
  .custom-marker {
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .pulse-ring {
    width: 100px;
    height: 100px;
    border: 2px solid rgba(51, 0, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    animation: pulse 1s infinite;
    z-index: -1;
  }
  
  .button-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2; /* Les boutons au premier plan */
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    padding: 20px 50px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
  .login-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    padding: 15px 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2; /* Le bouton au premier plan */
  }
  
  .avatar-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    50% {
      opacity: 1.5;
    }
    100% {
      transform: scale(1.2);
      opacity: 2;
    }
  }
  